{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'draw/css/index.css' %}" />
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <div>


    <!-- Explanation:
        Currently working on making things clickable. Can't get coordinates right for some reason.
        https://www.w3schools.com/html/html_images_imagemap.asp <-- Doesn't work as well for some reason
        Need to make things look good.


    -->

    <img src="https://i.ibb.co/2tvpQXm/Italy-Political-Map.jpg" id="myimg" usemap="#touchmap">
    <map name="touchmap">
        <area shape="rect" coords="50,50,100,100" onclick='romeClick()'>
        <!-- <area shape="circle" coords="150,150,30"> -->
    </map> 

    <!-- EXAMPLE OF SUBMITTING SOMETHING --> 
    <img src="https://i.ibb.co/bPr21h7/transparentpin.png" id="pinimgRome">
    <figure id="colosseumWrap">
        <img src="https://i.ibb.co/BLvSdZn/colosseum.jpg" id="colosseum">
        <figcaption id="colosseumText"> </figcaption>
    </figure>

    <!-- FORM FOR SUBMITTING REVIEW --> 
    <form class='mytxt' name='areaform' id="locForm">
        <label for='myform'> Choose an area!</label>
        <br>
        <input type='textarea' id='myform' value=''>
        <input type='submit' onclick='getArea(); return false'> </input>
        </input>
    </form>
    
    <!-- FORM FOR SUBMITTING REVIEW -->
    <form class='mytxt' name='postform' id='reviewForm'> 
        <label for='myform2'> Submit a review!</label>
        <br><br> 
        <input type='textarea' id='myform2' value=''>

        <br><br> 
        <label for="img">Select image:</label>
        <input type="file" id="img" name="img" accept="image/*">

        <br><br> 
        <input type='submit' onclick='getReview(); return false'> </input>
    </form>

    </div>

</body>
<script>

    // INITIAL SETUP 
    // CHECKS WHICH URL WE ARE ON
    var url = window.location.href;
    var thesize = url.substring(url.length - 7);
    var isDisplay = false;
    var isPhoneSB = false;
    var isPhoneTS = false;

    // We either have ?look= [display], [phoneSB], or [phoneTS]
    // These are the three coresponding web instances like proj3
    if (thesize.valueOf() == "display") {
        isDisplay = true;
        console.log("Display");
    }
    if (thesize.valueOf() == "phoneSB") {
        isPhoneSB = true;
        console.log("PSB");
    }
    if (thesize.valueOf() == "phoneTS") {
        isPhoneTS = true;
        console.log("PTS");
    }

    // function initDisplay() {
    //     $("#pinimgRome").hide();
    //     $("#reviewForm").hide();
    //     $("#colosseumWrap").hide(); 
    //     $("#locForm").hide();   
    // }

    // function initPhoneSB() {
    //     $("#pinimgRome").hide();
    //     $("#reviewForm").hide();
    //     $("#colosseumWrap").hide(); 
    //     // $("#locForm").hide();       
    // }

    // function initPhoneTS() {
    //     $("#pinimgRome").hide();
    //     $("#reviewForm").hide();
    //     $("#colosseumWrap").hide(); 
    //     $("#locForm").hide();    
    // }


    // ********* MAKE THESE GREEN TO LOOK AT THEM AND SEE IF THEIR CSS IS GOOD ********
    $("#pinimgRome").hide();
    $("#reviewForm").hide();
    $("#colosseumWrap").hide(); 
    $("#locForm").hide();   



    function romeClick() {
        // document.areaform.myform.value = Rome;
        // $("#reviewForm").show();
        console.log("Rome");
    }


    function getArea() {
        console.log(document.areaform.myform.value);
        console.log(typeof JSON.stringify(myArea));

        var myArea = document.areaform.myform.value;
        if (myArea.valueOf() == "Rome" || myArea.valueOf() == "Caligan" 
        || myArea.valueOf() == "Austria" || myArea.valueOf() == "Rome") {
            $("#locForm").hide();
            $("#reviewForm").show();
        } else {
            return;
        }
    }


    function getReview() { 
        $("#reviewForm").hide();
        var myReview = document.postform.myform2.value;
        console.log(myReview);
        $("#colosseumText").append("Place: " + document.areaform.myform.value + "<br>");
        $("#colosseumText").append(myReview);
        $("#colosseumWrap").show(); 
        $("#pinimgRome").show(); 
    }

    // if (isDisplay) {
    //     initDisplay();
    // } else if (isPhoneSB) {
    //     initPhoneSB();
    // } else if (isPhoneTS) {
    //     initPhoneTS();
    // }



</script>
</html>
