{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Map</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'draw/css/index.css' %}" />
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>
    <style type="text/css">
    </style>

</head>
<body>
    <div>

    <!-- Map (Credit to: https://wisata.cyou/wisata/italy-map-and-satellite-image) -->
    <img src="https://i.ibb.co/2tvpQXm/Italy-Political-Map.jpg" id="myimg">

    <!-- PIN (Credit to: https://www.kissclipart.com/red-pin-svg-clipart-computer-icons-clip-art-yboym2/)-->
    <!-- ROME (Credit to: https://world-of-humanism.blog/2019/08/03/a-retrospective-italy-and-mussolini/) -->
    <div id="background-form1"> </div> 
    <img src="https://i.ibb.co/bPr21h7/transparentpin.png" id="pinimgRome">
    <figure id="colosseumWrap">
        <img src="https://i.ibb.co/BLvSdZn/colosseum.jpg" id="colosseum">
        <div id="figtextRome">
        </div>  
    </figure>


    <!-- TUNISIA (Credit to: https://pixy.org/5972118/) -->
    <div id="background-form2"> </div>  
    <img src="https://i.ibb.co/bPr21h7/transparentpin.png" id="pinimgTunisia">
    <figure id="tunisiaWrap">
        <img src="https://i.ibb.co/jr0vMBf/tunisiaview.jpg" id="tunisia">
        <div id="figtextTunisia">
        </div>  
    </figure>


    <!-- FLORENCE (Credit to: https://www.architecturaldigest.com/story/design-lovers-guide-florence) -->
    <div id="background-form3"> </div>  
    <img src="https://i.ibb.co/bPr21h7/transparentpin.png" id="pinimgFlorence">
    <figure id="florenceWrap">
        <img src="https://i.ibb.co/bRJ1n9X/Florence.jpg" id="florence">
        <div id="figtextFlorence">            
        </div>  
    </figure>


    <!-- Milan (Credit to: https://d3dqioy2sca31t.cloudfront.net/Projects/cms/production/000/029/169/original/985a68c07f69b0077869024e684f969e/36-italy-milan-duomo-ch.jpg) -->
    <div id="background-form4">       
    </div>
    <img src="https://i.ibb.co/bPr21h7/transparentpin.png" id="pinimgMilan">
    <figure id="milanWrap">
        <img src="https://i.ibb.co/HB5hKTc/Milan.jpg" id="milan">
        <div id="figtextMilan">
        </div>  
    </figure>


    <!-- Touch Square (Credit to: https://www.vectorstock.com/royalty-free-vector/square-transparent-background-seamless-pattern-vector-9273391) -->
    <img src="https://i.ibb.co/6s8ZX5w/TRANSPARENT.png" id="squareRome" onclick="clickRome();">
    <img src="https://i.ibb.co/6s8ZX5w/TRANSPARENT.png" id="squareTunisia" onclick="clickTunisia();">
    <img src="https://i.ibb.co/6s8ZX5w/TRANSPARENT.png" id="squareFlorence" onclick="clickFlorence();">
    <img src="https://i.ibb.co/6s8ZX5w/TRANSPARENT.png" id="squareMilan" onclick="clickMilan();">


    <!-- FORM FOR SUBMITTING REVIEW --> 
    <div id="background-form5"> </div>  
    <form class='mytxt' name='areaform' id="locForm">
        <label for='myform' id='areaChoose'>&nbsp; Please type in an area</label>
        <br><br>
        <input type='textarea' id='myform' value=''>
        <input type='submit' onclick='getArea(); return false'> </input>
        </input>
    </form>
    

    <!-- FORM FOR SUBMITTING REVIEW -->
    <div id="background-form6"> </div>
    <form class='mytxt' name='postform' id='reviewForm'> 
        <label for='myform2' id='reviewSubmit'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Submit a review!</label>
        <br><br> 
        <input type='textarea' id='myform2' value=''>        
        <input type='submit' onclick='getReview(); return false'> </input>
    </form>
    </div>

</body>
<script>

    // INITIAL SETUP 
    var url = window.location.href;
    var thesize = url.substring(url.length - 7);
    var isDisplay = false;
    var isPhoneSB = false;
    var isPhoneTS = false;
    var myLocations = [];
    var busy = false;

    // We either have ?look= [display], [phoneSB], or [phoneTS]
    if (thesize.valueOf() == "display") {
        isDisplay = true;
    }
    if (thesize.valueOf() == "phoneSB") {
        isPhoneSB = true;
    }
    if (thesize.valueOf() == "phoneTS") {
        isPhoneTS = true;
    }


    function initDisplay() {
        var elem =  document.getElementById("myimg");
        elem.classList.add("imgOpacity");
        $("#reviewForm").hide();
        $("#pinimgRome").hide();
        $("#colosseumWrap").hide();
        $("#background-form1").hide(); 
        $("#pinimgTunisia").hide();
        $("#tunisiaWrap").hide();
        $("#background-form2").hide();
        $("#pinimgFlorence").hide();
        $("#florenceWrap").hide();
        $("#background-form3").hide();
        $("#background-form4").hide();
        $("#pinimgMilan").hide();
        $("#milanWrap").hide();
        $("#locForm").hide(); 
        $("#background-form5").hide();
        $("#background-form6").hide();
        $("#squareRome").hide();
        $("#squareTunisia").hide();
        $("#squareFlorence").hide();
        $("#squareMilan").hide();
    }

    function initPhoneSB() {
        var elem =  document.getElementById("myimg");
        elem.classList.add("imgOpacitySB");
        $("#pinimgRome").hide();
        $("#reviewForm").hide();
        $("#colosseumWrap").hide();
        $("#pinimgTunisia").hide();
        $("#tunisiaWrap").hide();
        $("#pinimgFlorence").hide();
        $("#florenceWrap").hide();
        $("#pinimgMilan").hide();
        $("#milanWrap").hide();
        $("#background-form1").hide();
        $("#background-form2").hide();
        $("#background-form3").hide();
        $("#background-form4").hide();
        $("#background-form6").hide();
        $("#squareRome").hide();
        $("#squareTunisia").hide();
        $("#squareFlorence").hide();
        $("#squareMilan").hide();      
    }

    function initPhoneTS() {
        var elem =  document.getElementById("myimg");
        elem.classList.add("imgOpacity");
        $("#pinimgRome").hide();
        $("#reviewForm").hide();
        $("#pinimgRome").hide();
        $("#colosseumWrap").hide(); 
        $("#pinimgTunisia").hide();
        $("#tunisiaWrap").hide();
        $("#pinimgFlorence").hide();
        $("#florenceWrap").hide();
        $("#pinimgMilan").hide();
        $("#milanWrap").hide();
        $("#background-form1").hide();
        $("#background-form2").hide();
        $("#background-form3").hide();
        $("#background-form4").hide();
        $("#background-form5").hide();
        $("#background-form6").hide();
        $("#locForm").hide();    
    }


    var socket = new WebSocket(
        'ws://' + window.location.host + '/ws/draw');

    function getArea() {
        var myArea = document.areaform.myform.value;
        if (myArea.valueOf() == "Rome" || myArea.valueOf() == "Tunisia" 
        || myArea.valueOf() == "Florence" || myArea.valueOf() == "Milan" ) {
            $("#locForm").hide();
            $("#background-form5").hide();
            $("#reviewForm").show();
            $("#background-form6").show();
        } else {
            return;
        }
    }


    function clickRome() {
        if (busy === true) {
            return;
        }
        busy = true;
        document.areaform.myform.value = "Rome";
        $("#locForm").hide();
        $("#background-form5").hide();
        $("#reviewForm").show();
        $("#background-form6").show();
    }


    function clickTunisia() {
        if (busy === true) {
            return;
        }
        busy = true;
        document.areaform.myform.value = "Tunisia";
        $("#locForm").hide();
        $("#background-form5").hide();
        $("#reviewForm").show();
        $("#background-form6").show();
    }


    function clickFlorence() {
        if (busy === true) {
            return;
        }
        busy = true;
        document.areaform.myform.value = "Florence";
        $("#locForm").hide();
        $("#background-form5").hide();
        $("#reviewForm").show();
        $("#background-form6").show();
    }


    function clickMilan() {
        if (busy === true) {
            return;
        }
        busy = true;
        document.areaform.myform.value = "Milan";
        $("#locForm").hide();
        $("#background-form5").hide();
        $("#reviewForm").show();
        $("#background-form6").show();
    }


    function getReview() { 
        $("#reviewForm").hide();
        $("#background-form6").hide();
        var myReview = document.postform.myform2.value;
        var myPlace = document.areaform.myform.value;
        socket.send("{\"review\" : " + JSON.stringify(myReview) + ", \"place\" : " + JSON.stringify(myPlace) +  "}" ); 
        document.postform.myform2.value = "";
        document.areaform.myform.value = "";
        busy = false
        if (isPhoneSB) {
            $("#locForm").show();
            $("#background-form5").show();
        }
    }


    function hideAll() {
        $("#colosseumWrap").hide(); 
        $("#tunisiaWrap").hide();
        $("#florenceWrap").hide();
        $("#milanWrap").hide();
        $("#background-form1").hide();
        $("#background-form2").hide();
        $("#background-form3").hide();
        $("#background-form4").hide();
    }


    // Call to hide all other imgs & subtext other than passed in location
    function onlyOneImg(inputArea) {
        hideAll();
        if (inputArea === "Rome") {
            $("#colosseumWrap").show();
            $("#background-form1").show(); 
        }
        if (inputArea === "Tunisia") {
            $("#tunisiaWrap").show();
            $("#background-form2").show();
        }
        if (inputArea === "Florence") {
            $("#florenceWrap").show();
            $("#background-form3").show();
        }
        if (inputArea === "Milan") {
            $("#milanWrap").show();
            $("#background-form4").show();
        }
    }


    socket.onmessage = function(receivedMessage) {
        var received = JSON.parse(receivedMessage.data);

        // ROME
        if ((isDisplay) && (received.place === "Rome")) {
            var thetxt = document.getElementById("colosseumText");
            if (thetxt === null) {
                myLocations.push("Rome");
            }

            onlyOneImg("Rome");

            if (thetxt != null) {
                thetxt.remove();
            }
            $("#figtextRome").append("<figcaption id='colosseumText'>" + "&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;" + received.place + "<br>"
                + JSON.stringify(received.review) + "</figcaption>")
            hideAll(); 
            $("#background-form1").show();
            $("#colosseumWrap").show();
            $("#pinimgRome").show(); 
        }


        // TUNISIA
        if ((isDisplay) && (received.place == "Tunisia")) {
            var thetxt = document.getElementById("tunisiaText");

            if (thetxt === null) {
                myLocations.push("Tunisia");
            }

            onlyOneImg("Tunisia");

            if (thetxt != null) {
                thetxt.remove();
            }
            $("#figtextTunisia").append("<figcaption id='tunisiaText'>" + "&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;" + received.place + "<br>"
                + JSON.stringify(received.review) + "</figcaption>")
            hideAll();     
            $("#background-form2").show();
            $("#tunisiaWrap").show(); 
            $("#pinimgTunisia").show(); 
            $("#tunisia").show();
        }


        // FLORENCE
        if ((isDisplay) && (received.place == "Florence")) {
            var thetxt = document.getElementById("florenceText");

            if (thetxt === null) {
                myLocations.push("Florence");
            }
            onlyOneImg("Florence");

            if (thetxt != null) {
                thetxt.remove();
            }
            $("#figtextFlorence").append("<figcaption id='florenceText'>" + "&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;" + received.place + "<br>"
                + JSON.stringify(received.review) + "</figcaption>")
            hideAll(); 
            $("#florenceWrap").show(); 
            $("#background-form3").show();
            $("#pinimgFlorence").show(); 
            $("#florence").show();
        }


        // MILAN
        if ((isDisplay) && (received.place == "Milan")) {
            var thetxt = document.getElementById("milanText");

            if (thetxt === null) {
                myLocations.push("Milan");
            }

            onlyOneImg("Milan");

            if (thetxt != null) {
                thetxt.remove();
            }
            $("#figtextMilan").append("<figcaption id='milanText'>" + "&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;" + received.place + "<br>"
                + JSON.stringify(received.review) + "</figcaption>")
            
            hideAll(); 
            $("#milanWrap").show(); 
            $("#background-form4").show();
            $("#pinimgMilan").show(); 
            $("#milan").show();
        }
    }

    
    if (isDisplay) {
        initDisplay();
    } 
    
    if (isPhoneSB) {
        initPhoneSB();
    } 
    
    if (isPhoneTS) {
        initPhoneTS();
    }


    function rotatePins() {
        if ((myLocations.length < 2) || (!isDisplay)) {
            return;
        }
        var firstPlace = myLocations[0];
        myLocations.shift();
        myLocations.push(firstPlace);

        hideAll();

        if (firstPlace === "Rome") {
            $("#colosseumWrap").show();
            $("#background-form1").show();
        }

        if (firstPlace === "Tunisia") {
            $("#tunisiaWrap").show();
            $("#background-form2").show();
        }

        if (firstPlace === "Florence") {
            $("#florenceWrap").show();
            $("#background-form3").show();
        }
        if (firstPlace === "Milan") {
            $("#milanWrap").show();
            $("#background-form4").show();
        }
    }


    setInterval(rotatePins, 4000);

</script>
</html>
