/* New interactions CSS  */

/* html, body {
    height: 100%; 
    width: 100%; 
    margin: 0; 
} */

/* .myPicDisplay {
    width: auto;
    height: auto;
    background-image: url("https://i.ibb.co/2tvpQXm/Italy-Political-Map.jpg");
    background-repeat: no-repeat;
}

.myPicPhone {
    width: 500px;
    height: 500px;
    background-image: url("https://i.ibb.co/2tvpQXm/Italy-Political-Map.jpg");
    background-repeat: no-repeat;    
} */

#myimg {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    }

.imgOpacity {
    opacity: 90%;
}

.imgOpacitySB {
    opacity: 30%;
}

#touchmap {
    
}    

#figtextRome {

}

#pinimgRome {
    position: absolute;
    top: 1040px;
    left: 740px;
    /* width: 100px;
    height: 200px; */
    }

#colosseum {
    position: absolute;
    top: 700px;
    left: 600px;
    width: auto;
    height: 250px;
}

#colosseumText {
    position: absolute;
    top: 950px;
    left: 600px;
    width: auto;
    height: 250px;
}

#colosseumWrap {

}

/* Tunisia */

#pinimgTunisia {
    position: absolute;
    top: 1950px;
    left: 400px;
    /* width: 100px;
    height: 200px; */
    }

#tunisia {
    position: absolute;
    top: 1600px;
    left: 280px;
    width: auto;
    height: 250px;    
}

#tunisiaWrap{

}

#figtextTunisia {

}

#tunisiaText {
    position: absolute;
    top: 1850px;
    left: 280px;
    width: auto;
    height: 250px;
}


/* Florence */

#pinimgFlorence {
    position: absolute;
    top: 720px;
    left: 590px;
    /* width: 100px;
    height: 200px; */
    }

#florence {
    position: absolute;
    top: 330px;
    left: 440px;
    width: auto;
    height: 250px;    
}

#florenceWrap{

}

#figtextFlorence {

}

#florenceText {
    position: absolute;
    top: 580PX;
    left: 440px;
    width: auto;
    height: 250px;
}



/* Milan */

#pinimgMilan {
    position: absolute;
    top: 440px;
    left: 330px;
    }

#milan {
    position: absolute;
    top: 100px;
    left: 160px;
    width: auto;
    height: 250px;    
}

#milanWrap{

}

#figtextmilan {

}

#milanText {
    position: absolute;
    top: 360px;
    left: 160px;
    width: auto;
    height: 250px;
}




#myform {

}    

#myform2 {

}

#mycolor {
    background-color:whitesmoke;
}



.mytxt {
    position: absolute;
    top: 600px;
    left: 350px;
    }

#locForm {

}

#reviewForm {

}